@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&family=IM+Fell+English&family=Jim+Nightshade&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #FAFAFA;
    font-family: IM Fell English, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
}

/* headings and logo*/

h1 {
    font-family: Grenze Gotisch, sans-serif;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 1em;
}

/* navigation links */

#menu {
    font-size: 110%;
    /* letter-spacing */
    display: flex;
    flex-direction: row-reverse;

}

#menu,
#logo {
    line-height: 75px;
    /*how to change it to % */

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1.87em;
    padding: 0;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Glasgow Necro Image */

#glasgow-necro-outer {

    max-width: 100%;
    overflow: hidden;
    text-align: center;

}

#glasgow-necro {
    height: 600px;
    max-width: 100%;
    background: url(https://res.cloudinary.com/lizac/image/upload/v1660418340/project1-glasgow-necropolis/glasgow-necro_lsgjbd.jpg) /*('../images/glasgow-necro.JPG')*/ no-repeat center center;
    background-size: contain;
    /* animates zoom effect on loading page */
    animation-name: glasgow-necro-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for glasgow-necro image*/
@keyframes glasgow-necro-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Intro */
#intro {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    font-size: 110%;
}

/* Location */

#location {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

/* Map section  : How to center the map!? */

#map-wrapper {

    width: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#map {
    width: 100%;
    height: 100%;
    border: 2px solid #36454F;
    margin-bottom: 9em;
    opacity: 0.8;

    text-align: center;
    margin: 0 auto;
}

/* Footer */

footer {
    height: 9em;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}


/* History */

#history-image {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#history-image>img {
    width: 100%;

}

#history-text {
    text-align: center;

    padding-top: 30px;
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries */

/* For larger to medium screens size from 1200px wide and down*/

@media screen and (max-width:1200px) {

    #glasgow-necro-outer,
    #glasgow-necro {
        width: 85%;

        margin: 0 auto;
    }

    #location {
        width: 100%;
        float: left;

    }
}

/* the map */
#map-wrapper,
#map {
    width: 85%;
    margin: 0 auto;
}


/* For medium screen sizes from 950px wide and down */
@media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;

    }

    #glasgow-necro {
        width: 85%;
        height: 200px;
        margin: 0 auto;
    }

}

/* Form: Book A Tour */

#book-tour {
    /* width: 80%;*/
    height: 100%;
}

#book-form {
    width: 70%;
    height: 800px;
    color: #3a3a3a;
    border-radius: 10px;
    font-size: 100%;
    margin: 0 auto;
    text-align: center;
}

#book-form>h2 {
    text-align: center;
    margin-bottom: 10px;

}

/* Text input */

.text-input {
    display: block;
    width: 80%;
    height: 30px;
    letter-spacing: 2px;
    /*margin: 5px 0 20px 50px;*/
    margin: 0 auto;
    padding-left: 5px;
    background-color: transparent;
    font-size: 80%;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #000000;
}

.text-input:hover {
    background-color: #e5e5e5;
    box-shadow: 1px 1px 1px #bcbcbc;
}

.queries-box {
    display: block;
    width: 80%;
    height: 30px;
    letter-spacing: 2px;
    /*margin: 5px 0 20px 50px;*/
    margin: 0 auto;
    padding-left: 5px;
    background-color: transparent;
    font-size: 80%;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    color: #000000;
}

.queries-box:hover {
    background-color: #e5e5e5;
    box-shadow: 1px 1px 1px #bcbcbc;
}

/* Buttons */

#button-box {
    display: block;
    height: 50px;
    width: 20%;
    justify-content: left;
    margin: 20px 0 0 10px;
}

.button {
    height: 30px;
    width: 65px;
    display: inline-block;
    margin: 0 auto;
    font-size: 80%;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #303030;
}

.button:hover {
    background-color: #e5e5e5;
}


#button-box {
    width: 90%;
    justify-content: left;
    margin: 30px 0 0 10px;
}

.button {
    margin: 5px 40px;
    border-radius: 2px;
}

/*Form Grid*/
.form-grid {
    display: grid;
    gap: 3%;

}

/*Index Grid*/
.index-grid {
    display: grid;
    gap: 0.5rem;
}

/* Thank you message */

.thankyou {
    text-align: center;
}