@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&family=IM+Fell+English&family=Jim+Nightshade&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: IM Fell English, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
}

/* headings and logo*/

h1 {
    font-family: Grenze Gotisch, sans-serif;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 230%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    /* letter-spacing: ; */
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Glasgow Necro Image */

#glasgow-necro-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;

}

#glasgow-necro {
    height: 400px;
    width: 100%;
    background: url('../images/glasgow-necro.JPG') no-repeat center center;
    background-size: contain;
    /* animates zoom effect on loading page */
    animation-name: glasgow-necro-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for glasgow-necro image*/
@keyframes glasgow-necro-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Location */

#location {
    height: 400px;

    padding-top: 30px;
    width: 33%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Map section  */

#map-wrapper {
    height: 300px;
    width: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#map {
    width: 100%;
    height: 100%;
    border: 2px solid #36454F;
    margin-bottom: 150px;
    opacity: 0.8;
    text-align: center;
}

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* History */

#history-image {
    clear: both;
}

#history-image > img {
    width: 100%;
}